{{define "content"}}
<div class="posts">
    <article class="post">
        <h2 class="post-title">
            <a href="/">Echo 系列教程 — 定制篇3：自定义 Logger，用你喜欢的日志库</a>
        </h2>

        <div class="post-date">
            <time datetime="2020-03-06T00:00:00Z">Mar 06, 2020</time> · 3 min read
        </div>
        在知识星球简书项目中，我们分析对比了目前的一些日志库。虽然 Go 标准库有一个 log，但功能有限，所以才出现了很多第三方的日志库。
        <div class="read-more-link">
            <a href="http://blog.studygolang.com/2020/03/echo-custom-logger/">阅读全文</a>
        </div>
    </article>

    <article class="post">
        <h2 class="post-title">
            <a href="/">Echo 系列教程 — 定制篇2：自定义 Validator，进行输入校验</a>
        </h2>

        <div class="post-date">
            <time datetime="2020-02-28T00:00:00Z">Feb 28, 2020</time> · 4 min read
        </div>
        上一篇讲 Binder 时提到，参数自动绑定和校验是 Web 框架很重要的两个功能，可以极大的提升开发速度，并更好的保证数据的可靠性（服务端数据校验很重要）。
        <div class="read-more-link">
            <a href="http://blog.studygolang.com/2020/02/echo-custom-validator/">阅读全文</a>
        </div>
    </article>
</div>
{{end}}
